<div class="container">
	<h1><%= @user.username%></h1>

	<form action="/" method="post" id="submit_tweet">
	  <input type="text" name="tweet" placeholder="Tweet something :D">
	  <input id="submitbutton" type="submit" value="Submit">
	</form>
	<br><br>
	<div id="tweets">

	</div>
	<div id="loader" style="display:none;">
		<img src="/loader/ajax-loader.gif"><br><br>
		Posting Tweet! Tweet tweet!
	</div>
</div>